@use "../02_tools/breakpoint";

.site-header {
   background-color: var(--color-sky);
   
   &__inner {
      display: flex;
      justify-content: space-between;
      column-gap: 1.5rem;
      align-items: center;
      padding-block: 1rem;
      @include breakpoint.medium-up {
         padding-block: 2rem;
      }
   }
   
   &__logo {
      text-decoration: none;
      display: block;
      
      img {
         height: 4rem;
         @include breakpoint.medium-up {
            height: 6rem;
         }
         
         @include breakpoint.large-up {
            height: 7.5rem;
         }
      }
   }
   
   &__nav {
      display: none;
      
      
      @include breakpoint.large-up {
         display: block;
         font-size: 1.125rem;
      }
      
      & > ul {
         list-style-type: "";
         padding: 0;
         margin: 0;
         display: flex;
         align-items: center;
         column-gap: 1.5rem;
         
         & > li {
            position: relative;
         }
      }
   }
   
   &__link {
      text-decoration: none;
      display: flex;
      align-items: center;
      column-gap: .125rem;
      padding-block: 1rem;
      
      svg {
         flex-shrink: 0;
      }
      
      &:hover,
      &:focus-visible,
      &.is-open,
      &.is-current,
      &:has(+ ul:hover) {
         span {
            color: var(--color-follese);
         }
         
         svg {
            rotate: 180deg;
         }
      }
      
      &:hover, &:focus-visible {
         & + ul {
            transform: scaleY(1);
         }
      }
   }
   
   &__dropdown {
      list-style-type: "";
      background-color: var(--color-follese);
      color: var(--color-white);
      position: absolute;
      left: 0;
      transform: scaleY(0);
      display: flex;
      flex-direction: column;
      padding-block: .5rem;
      padding-inline: .5rem;
      row-gap: .5rem;
      
      &:hover,
      &:focus-within,
      &:has(a:focus-visible) {
         transform: scaleY(1);
      }
      
      li {
         width: 100%;
      }
      
      a {
         text-decoration: none;
         white-space: nowrap;
         display: flex;
         padding-block: .5rem;
         padding-inline: .75rem;
         
         &:hover {
            background-color: var(--color-follese-dark);
         }
      }
   }
   
   &__menu-toggle {
      display: inline-flex;
      align-items: center;
      column-gap: .5rem;
      padding-block: .5rem;
      padding-inline-start: 1.125rem;
      padding-inline-end: 1.25rem;
      border-radius: 99em;
      text-decoration: none;
      color: var(--color-white);
      background-color: var(--color-follese);
      
      @include breakpoint.large-up {
         display: none;
      }
      
      svg {
         flex-shrink: 0;
         font-size: 1.25rem;
      }
      
      &:hover {
         background-color: var(--color-follese-dark);
      }
   }
}