@use "../02_tools/breakpoint";

.site-footer {
   background-color: var(--color-follese-dark);
   color: var(--color-white);
   padding-block-start: 2rem;
   padding-block-end: 3rem;
   
   @include breakpoint.medium-up {
      padding-block: 4rem;
   }
   
   &__inner {
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 1.5rem;
      row-gap: 3rem;
      font-size: 1rem;
      
      @include breakpoint.medium-up {
         column-gap: 4rem;
      grid-template-columns: auto 1fr auto;
      }
      
      @include breakpoint.large-up {
         font-size: 1.25rem;
      }
   }
   
   &__logo {
      flex-shrink: 0;
      text-decoration: none;
      display: block;
      grid-column: 1;
      
      img {
         height: 5rem;
         
         @include breakpoint.large-up {
            height: 7.5rem;
         }
      }
   }
   
   &__content {
      grid-column: 2;
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;
      
   }
   
   &__group-title {
      color: var(--color-follese-light);
      font-weight: 500;
      font-size: 1em;
   }
   
   &__some {
      grid-column: 2;
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      
      @include breakpoint.medium-up {
         grid-column: 3;
      }
   }
   
   &__some-link {
      display: flex;
      column-gap: .5rem;
      text-decoration: underline;
      text-underline-offset: 0.25em;
      text-decoration-thickness: 1px;
      text-decoration-color: var(--color-link-decoration-default);
      
      &:hover {
         color: var(--color-link-text-hover);
         text-decoration-thickness: 3px;
      }
      
      svg {
         flex-shrink: 0;
         font-size: 1.5rem;
      }
   }
}