.slideshow {
   border: 0;
   width: 100%;
   height: 100%;
   max-width: 100%;
   max-height: 100%;
   background-color: transparent;
   padding-block: 2rem;
   
   &::backdrop {
      background-color: rgba(0 0 0 / .95);
   }
   
   &__images {
      width: 100%;
      height: 100%;
   }
   
   &__image {
      height: 100%;
      width: 100%;
      picture, img {
         width: 100%;
         height: 100%;
         max-width: 100%;
         max-height: 100%;
         object-fit: contain;
      }
   }
   
   &__close-button {
      position: absolute;
      top: .75rem;
      right: .75rem;
      background-color: rgba(255, 255, 255, .125);
      border-radius: 50%;
      font-size: 1.25rem;
      width: 2rem;
      height: 2rem;
      display: grid;
      place-items: center;
      color: var(--color-white);
   }
}