@use "../02_tools/breakpoint";

.teaser {
   display: flex;
   flex-direction: column;
   @include breakpoint.medium-up {
      flex-direction: row;
   }
   
   &[data-position="right"] {
      @include breakpoint.medium-up {
         flex-direction: row-reverse;
      }
   }
   
   & > * {
      @include breakpoint.medium-up {
         width: 50%;
         overflow: hidden;
      }
   }
   
   &__image {
      height: auto;
      aspect-ratio: 4 / 3;
      overflow: hidden;
      
      @include breakpoint.medium-up {
         overflow: initial;
      }
      
      img, picture {
         height: 100%;
         width: 100%;
         object-fit: cover;
         object-position: center center;
      }
   }
   
   &__content {
      background-color: var(--color-sky);
      padding-block: 3rem;
      padding-inline: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      
      @include breakpoint.medium-up {
         padding-inline: 2rem;
      }
      
      @include breakpoint.large-up {
         padding-inline: 3rem;
      }
   }
   
   &__title {
      font-family: var(--ff-secondary), serif;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1.25;
      
      @include breakpoint.large-up {
         font-size: 3rem;
      }
   }
   
   &__text {
      margin-block-start: .5em;
      font-size: 1.125rem;
      
      @include breakpoint.large-up {
         font-size: 1.25rem;
      }
   }
   
   &__link {
      margin-block-start: 1.5rem;
      display: inline-flex;
      padding-block: .5rem;
      padding-inline: 1.25rem;
      border-radius: 99em;
      text-decoration: none;
      color: var(--color-white);
      background-color: var(--color-follese);
      
      &:hover {
         background-color: var(--color-follese-dark);
      }
      
      @include breakpoint.large-up {
         font-size: 1.125rem;
         padding-block: .75rem;
         padding-inline: 2rem;
      }
   }
}