@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

:where(img, picture, video, canvas, svg) {
  display: block;
  max-width: 100%;
}

:where(input, button, textarea, select) {
  font: inherit;
}

:where(button) {
  color: inherit;
  border: 0;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:where(a) {
  color: inherit;
}

:where(p, h1, h2, h3, h4, h5, h6, li) {
  overflow-wrap: break-word;
}

:where(ul, ol) {
  padding-inline-start: 1.5rem;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-follese-dark: #0a4f97;
  --color-follese: #1960AA;
  --color-follese-light: #8ac4ea;
  --color-cobalt: #0D2B49;
  --color-cobalt-light: #30425e;
  --color-stone: #DDD;
  --color-sky: #ECF5FF;
  --color-cloud: #f5f5ff;
  --color-white: #FFFFFF;
}

@font-face {
  font-family: "Gabarito";
  src: url("../fonts/Gabarito-VariableFont_wght.ttf");
  font-weight: 400 900;
}
@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist.ttf");
  font-weight: 200 900;
}
@font-face {
  font-family: "Geist Mono";
  src: url("../fonts/GeistMono.ttf");
  font-weight: 200 900;
}
@font-face {
  font-family: "Peachi";
  src: url("../fonts/Peachi-Thin.otf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Peachi";
  src: url("../fonts/Peachi-Light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Peachi";
  src: url("../fonts/Peachi-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Peachi";
  src: url("../fonts/Peachi-Medium.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Peachi";
  src: url("../fonts/Peachi-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Peachi";
  src: url("../fonts/Peachi-Black.otf");
  font-weight: 900;
  font-style: normal;
}
:root {
  --ff-primary: "Geist";
  --ff-secondary: "Peachi";
}

html {
  background-color: var(--color-cloud);
}

body {
  font-family: var(--ff-primary), sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-cobalt);
  background-color: var(--color-white);
  min-height: 100dvh;
}

:focus-visible {
  outline-color: var(--color-follese);
  outline-offset: 4px;
  outline-width: 2px;
}

:where(h1, h2, h3, h4, h5, h6) {
  text-wrap: pretty;
}

.breadcrumbs {
  list-style-type: "";
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 0.5rem;
}
.breadcrumbs__item:not(:last-child):after {
  display: inline-block;
  margin-inline: 0.375rem 0.5rem;
  content: "•";
}
.breadcrumbs__link {
  text-underline-offset: 4px;
  text-decoration: none;
}
.breadcrumbs__link:is(a):hover {
  text-decoration: underline;
}

.site-header {
  background-color: var(--color-sky);
}
.site-header__inner {
  display: flex;
  justify-content: space-between;
  column-gap: 1.5rem;
  align-items: center;
  padding-block: 1rem;
}
@media (min-width: 60rem) {
  .site-header__inner {
    padding-block: 2rem;
  }
}
.site-header__logo {
  text-decoration: none;
  display: block;
}
.site-header__logo img {
  height: 4rem;
}
@media (min-width: 60rem) {
  .site-header__logo img {
    height: 6rem;
  }
}
@media (min-width: 80rem) {
  .site-header__logo img {
    height: 7.5rem;
  }
}
.site-header__nav {
  display: none;
}
@media (min-width: 80rem) {
  .site-header__nav {
    display: block;
    font-size: 1.125rem;
  }
}
.site-header__nav-list {
  list-style-type: "";
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}
.site-header__nav-item {
  cursor: pointer;
  position: relative;
}
.site-header__nav-item:hover, .site-header__nav-item:focus-within, .site-header__nav-item:has(:focus-visible) {
  color: var(--color-follese);
}
.site-header__nav-item:hover .site-header__dropdown-icon svg, .site-header__nav-item:focus-within .site-header__dropdown-icon svg, .site-header__nav-item:has(:focus-visible) .site-header__dropdown-icon svg {
  rotate: 180deg;
}
.site-header__nav-item:hover .site-header__dropdown, .site-header__nav-item:focus-within .site-header__dropdown, .site-header__nav-item:has(:focus-visible) .site-header__dropdown {
  transform: scaleY(1);
}
.site-header__nav-item:hover .site-header__dropdown li, .site-header__nav-item:focus-within .site-header__dropdown li, .site-header__nav-item:has(:focus-visible) .site-header__dropdown li {
  animation: fadeIn 0.1s linear forwards;
  animation-delay: 0.15s;
}
.site-header__nav-item-inner {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  padding-block: 0.75rem;
}
.site-header__dropdown-icon {
  flex-shrink: 0;
}
.site-header__dropdown-icon svg {
  font-size: 1.5rem;
}
.site-header__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 0.125rem;
}
.site-header__link span {
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}
.site-header__link:hover span, .site-header__link:focus-visible span {
  text-decoration-line: underline;
}
.site-header__dropdown {
  list-style-type: "";
  background-color: var(--color-follese);
  color: var(--color-white);
  position: absolute;
  border-radius: 4px;
  right: 0;
  transform: scaleY(0);
  transform-origin: right top;
  display: flex;
  flex-direction: column;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
  row-gap: 0.5rem;
  transition: transform 0.15s ease;
  z-index: 500;
}
.site-header__dropdown:hover, .site-header__dropdown:focus-within, .site-header__dropdown:has(a:focus-visible) {
  transform: scaleY(1);
}
.site-header__dropdown li {
  width: 100%;
  opacity: 0;
}
.site-header__dropdown a {
  text-decoration: none;
  white-space: nowrap;
  display: flex;
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
}
.site-header__dropdown a:hover {
  background-color: var(--color-follese-dark);
}
.site-header__menu-toggle {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  padding-block: 0.5rem;
  padding-inline-start: 1.125rem;
  padding-inline-end: 1.25rem;
  border-radius: 99em;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-follese);
}
@media (min-width: 80rem) {
  .site-header__menu-toggle {
    display: none;
  }
}
.site-header__menu-toggle svg {
  flex-shrink: 0;
  font-size: 1.25rem;
}
.site-header__menu-toggle:hover {
  background-color: var(--color-follese-dark);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.hero__image {
  width: 100%;
}
.hero__image img {
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center center;
  width: 100%;
}
@media (min-width: 60rem) {
  .hero__image img {
    aspect-ratio: 1920/715;
  }
}
.hero__content {
  width: 95%;
  max-width: 45rem;
  margin-inline: auto;
  background-color: var(--color-white);
  position: relative;
  text-align: center;
  padding-block-start: 2rem;
  padding-inline: 1rem;
  margin-block-start: -2rem;
}
@media (min-width: 80rem) {
  .hero__content {
    max-width: 62.5rem;
    margin-block-start: -10rem;
    padding-block: 3.5rem;
    padding-inline: 5.5rem;
  }
}
.hero hgroup {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}
.hero__subtitle {
  font-weight: 600;
  color: var(--color-follese);
  line-height: 1.375;
  font-size: 1.125rem;
}
@media (min-width: 80rem) {
  .hero__subtitle {
    font-size: 1.25rem;
  }
}
.hero__title {
  font-family: var(--ff-secondary), serif;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.25;
}
@media (min-width: 80rem) {
  .hero__title {
    line-height: 1.05;
    font-size: 4rem;
  }
}
.hero__intro {
  margin-block-start: 1rem;
  font-size: 1.125rem;
  text-wrap: pretty;
}
@media (min-width: 80rem) {
  .hero__intro {
    margin-block-start: 1.25rem;
    font-size: 1.5rem;
  }
}

.card {
  --inner-bg: transparent;
}
.card {
  position: relative;
}
.card:hover {
  --inner-bg: var(--color-sky);
}
.card__inner {
  background-color: var(--inner-bg);
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
@media (min-width: 60rem) {
  .card__inner {
    row-gap: 2rem;
  }
}
.card__image {
  aspect-ratio: 4/3;
  overflow: hidden;
}
.card__image img {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card__title {
  font-size: 1.25rem;
  font-family: var(--ff-secondary), serif;
  font-weight: 400;
  text-wrap: pretty;
}
@media (min-width: 60rem) {
  .card__title {
    font-size: 2rem;
    line-height: 1.25;
  }
}
.card__title a {
  text-decoration-thickness: 2px;
  text-underline-offset: 0.125em;
}
.card__title a:after {
  content: "";
  display: block;
  inset: 0;
  position: absolute;
}
.card__text {
  font-size: 1rem;
  margin-block-start: 1.25rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (min-width: 60rem) {
  .card__text {
    margin-block-start: 1.25rem;
    font-size: 1.25rem;
  }
}
.card__date {
  display: block;
  font-size: 0.875rem;
  margin-block-start: 1.25rem;
}
@media (min-width: 60rem) {
  .card__date {
    margin-block-start: 2rem;
    font-size: 1rem;
  }
}

.file-block + .file-block {
  margin-block-start: -1px;
}
.file-block__link {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  text-decoration: none;
  padding: 0.5em;
  border-radius: 4px;
  border-block: 1px solid var(--color-stone);
}
.file-block__link:hover {
  text-decoration: underline;
}
.file-block__icon {
  flex-shrink: 0;
}
.file-block__icon svg {
  font-size: 1.5rem;
}
.file-block__size {
  font-size: 0.875rem;
  color: var(--color-cobalt-light);
}

.image-block.stretch {
  width: 100%;
}
.image-block.full-bleed {
  width: calc(100% + 2rem);
  margin-inline: -1rem;
}
.image-block.full-bleed img {
  border-radius: 0;
}
@media (min-width: 80rem) {
  .image-block.full-bleed img {
    border-radius: 0.375rem;
  }
}
.image-block.full-bleed .image-block__caption {
  padding-inline: 1rem;
}
@media (min-width: 80rem) {
  .image-block.full-bleed .image-block__caption {
    padding-inline: 0;
  }
}
@media (min-width: 80rem) {
  .image-block.full-bleed {
    width: calc(100% + 6rem);
    margin-inline: -3rem;
  }
}
.image-block img {
  width: 100%;
  border-radius: 0.375rem;
}
.image-block img.has-border {
  border: 1px solid #DDD;
}
.image-block__caption {
  padding-block: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.125em;
  font-size: 0.875rem;
}
@media (min-width: 50rem) {
  .image-block__caption {
    font-size: 1rem;
  }
}
.image-block__source {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
}

.site-footer {
  background-color: var(--color-follese-dark);
  color: var(--color-white);
  padding-block-start: 2rem;
  padding-block-end: 3rem;
}
@media (min-width: 60rem) {
  .site-footer {
    padding-block: 4rem;
  }
}
.site-footer__inner {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
@media (min-width: 60rem) {
  .site-footer__inner {
    flex-direction: row;
    column-gap: 4rem;
    row-gap: 0;
  }
}
.site-footer__logo {
  flex-shrink: 0;
  text-decoration: none;
  display: block;
}
.site-footer__logo img {
  height: 5rem;
}
@media (min-width: 80rem) {
  .site-footer__logo img {
    height: 7.5rem;
  }
}
.site-footer__content {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  font-size: 1rem;
}
@media (min-width: 80rem) {
  .site-footer__content {
    font-size: 1.25rem;
  }
}
.site-footer__group-title {
  color: var(--color-follese-light);
  font-weight: 500;
  font-size: 1em;
}

.mobile-nav {
  border: 0;
  max-width: 100%;
  max-height: 100%;
  inset: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: transparent;
  overflow: hidden;
}
.mobile-nav[open] {
  display: flex;
  justify-content: flex-end;
  animation: slideIn 0.25s ease-in-out forwards;
}
.mobile-nav__inner {
  background-color: var(--color-cobalt);
  color: var(--color-white);
  position: relative;
  padding-block: 5rem;
  width: min(100%, 35rem);
  overflow-y: auto;
}
.mobile-nav__close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  padding-block: 0.5rem;
  padding-inline-start: 1.125rem;
  padding-inline-end: 1.25rem;
  border-radius: 99em;
  text-decoration: none;
  background-color: var(--color-white);
  color: var(--color-cobalt);
}
.mobile-nav__close-button:focus-visible {
  outline: 1px solid var(--color-white);
}
.mobile-nav__close-button svg {
  flex-shrink: 0;
  font-size: 1.25rem;
}
.mobile-nav__list {
  list-style-type: "";
  padding: 0;
  display: flex;
  flex-direction: column;
  border-block-end: 1px solid rgba(255, 255, 255, 0.25);
}
.mobile-nav__link {
  display: flex;
  text-decoration: none;
  font-size: 1rem;
  padding-block: 0.75rem;
  padding-inline: 1rem;
  border-block-start: 1px solid rgba(255, 255, 255, 0.25);
  justify-content: space-between;
  column-gap: 0.5rem;
  font-weight: 600;
}
.mobile-nav__link svg {
  flex-shrink: 0;
  font-size: 1.5rem;
  opacity: 0.375;
}
.mobile-nav__dropdown {
  list-style-type: "";
  padding-inline-start: 2rem;
  display: flex;
  flex-direction: column;
  border-block-start: 1px solid rgba(255, 255, 255, 0.25);
}
.mobile-nav__dropdown-item:last-child .mobile-nav__dropdown-link {
  border-block-end: 0;
}
.mobile-nav__dropdown-link {
  display: flex;
  font-size: 1rem;
  text-decoration: none;
  padding-block: 0.75rem;
  padding-inline-end: 1rem;
  border-block-end: 1px solid rgba(255, 255, 255, 0.25);
  justify-content: space-between;
  column-gap: 0.5rem;
}
.mobile-nav__dropdown-link svg {
  flex-shrink: 0;
  font-size: 1.5rem;
  opacity: 0.375;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.more-link {
  display: inline-flex;
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  border-radius: 99em;
  text-decoration: none;
  color: var(--color-follese);
  background-color: var(--color-white);
  border: 2px solid var(--color-follese);
}
.more-link:hover {
  background-color: var(--color-sky);
}
@media (min-width: 80rem) {
  .more-link {
    font-size: 1.125rem;
    padding-block: 0.75rem;
    padding-inline: 2rem;
  }
}

.teaser {
  display: flex;
  flex-direction: column;
}
@media (min-width: 60rem) {
  .teaser {
    flex-direction: row;
  }
}
@media (min-width: 60rem) {
  .teaser[data-position=right] {
    flex-direction: row-reverse;
  }
}
@media (min-width: 60rem) {
  .teaser > * {
    width: 50%;
    overflow: hidden;
  }
}
.teaser__image {
  height: auto;
  aspect-ratio: 4/3;
  overflow: hidden;
}
@media (min-width: 60rem) {
  .teaser__image {
    overflow: initial;
  }
}
.teaser__image img, .teaser__image picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
.teaser__content {
  background-color: var(--color-sky);
  padding-block: 3rem;
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (min-width: 60rem) {
  .teaser__content {
    padding-inline: 2rem;
  }
}
@media (min-width: 80rem) {
  .teaser__content {
    padding-inline: 3rem;
  }
}
.teaser__title {
  font-family: var(--ff-secondary), serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.25;
}
@media (min-width: 80rem) {
  .teaser__title {
    font-size: 3rem;
  }
}
.teaser__text {
  margin-block-start: 0.5em;
  font-size: 1.125rem;
}
@media (min-width: 80rem) {
  .teaser__text {
    font-size: 1.25rem;
  }
}
.teaser__link {
  margin-block-start: 1.5rem;
  display: inline-flex;
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  border-radius: 99em;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-follese);
}
.teaser__link:hover {
  background-color: var(--color-follese-dark);
}
@media (min-width: 80rem) {
  .teaser__link {
    font-size: 1.125rem;
    padding-block: 0.75rem;
    padding-inline: 2rem;
  }
}

.l-404 {
  padding-block-end: 10rem;
}
.l-404__breadcrumbs {
  margin-block: 1rem;
}
.l-404__title {
  font-weight: 400;
  font-family: var(--ff-secondary), sans-serif;
  font-size: 2rem;
  line-height: 1.125;
  max-width: 50rem;
  margin-block-start: 2rem;
}
@media (min-width: 60rem) {
  .l-404__title {
    margin-block-start: 4rem;
    font-size: 3rem;
  }
}
@media (min-width: 80rem) {
  .l-404__title {
    font-size: 4rem;
    line-height: 1.05;
  }
}
.l-404__leading {
  margin-block-start: 1rem;
  font-size: 1.25rem;
  max-width: 50rem;
}
@media (min-width: 60rem) {
  .l-404__leading {
    margin-block-start: 1.5rem;
    font-size: 1.375rem;
  }
}
@media (min-width: 80rem) {
  .l-404__leading {
    font-size: 1.5rem;
    line-height: 1.375;
  }
}
.l-404__leading a:not([class]) {
  --color-link-decoration-default: var(--color-follese);
  --color-link-text-hover: var(--color-follese);
  text-decoration: underline;
  text-underline-offset: 0.25em;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--color-link-decoration-default);
}
.l-404__leading a:not([class]):hover {
  color: var(--color-link-text-hover);
  text-decoration-thickness: 3px;
}

.l-frontpage {
  padding-block-end: 6rem;
}
.l-frontpage__blocks {
  margin-block-start: 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
@media (min-width: 60rem) {
  .l-frontpage__blocks {
    row-gap: 0;
    margin-block-start: 4rem;
  }
}
.l-frontpage__cards {
  margin-block-start: 6rem;
}
.l-frontpage__cards-title {
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 400;
  font-family: var(--ff-secondary), serif;
}
@media (min-width: 80rem) {
  .l-frontpage__cards-title {
    font-size: 3rem;
  }
}
.l-frontpage__cards-list {
  margin-block-start: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  margin-inline: -1rem;
}
@media (min-width: 60rem) {
  .l-frontpage__cards-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 80rem) {
  .l-frontpage__cards-list {
    grid-template-columns: repeat(3, 1fr);
    margin-inline: -1.25rem;
  }
}
.l-frontpage__cards-more-link {
  margin-block-start: 4rem;
  display: flex;
  justify-content: center;
}

.l-news-archive {
  padding-block-end: 10rem;
}
.l-news-archive__breadcrumbs {
  margin-block: 1rem;
  max-width: 50rem;
}
.l-news-archive__title {
  font-weight: 400;
  font-family: var(--ff-secondary), sans-serif;
  font-size: 2rem;
  line-height: 1.125;
  max-width: 50rem;
  margin-block-start: 2rem;
}
@media (min-width: 60rem) {
  .l-news-archive__title {
    margin-block-start: 4rem;
    font-size: 3rem;
  }
}
@media (min-width: 80rem) {
  .l-news-archive__title {
    font-size: 4rem;
    line-height: 1.05;
  }
}
.l-news-archive__leading {
  margin-block-start: 1rem;
  font-size: 1.25rem;
  max-width: 50rem;
}
@media (min-width: 60rem) {
  .l-news-archive__leading {
    margin-block-start: 1.5rem;
    font-size: 1.375rem;
  }
}
@media (min-width: 80rem) {
  .l-news-archive__leading {
    font-size: 1.5rem;
    line-height: 1.375;
  }
}
.l-news-archive__articles {
  margin-block-start: 2rem;
  padding-block-start: 2rem;
  border-block-start: 1px solid var(--color-stone);
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  margin-inline: -1rem;
}
@media (min-width: 60rem) {
  .l-news-archive__articles {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 80rem) {
  .l-news-archive__articles {
    grid-template-columns: repeat(3, 1fr);
    margin-inline: -1.25rem;
  }
}
@media (min-width: 100rem) {
  .l-news-archive__articles {
    grid-template-columns: repeat(4, 1fr);
    margin-inline: -1.25rem;
  }
}

.l-news-article {
  padding-block-end: 10rem;
}
.l-news-article__banner-image {
  width: 100%;
  max-width: 120rem;
  margin-inline: auto;
  position: relative;
}
.l-news-article__banner-image:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5%;
  background: white; /* Same as your page background */
  clip-path: ellipse(60% 100% at 50% 100%);
}
.l-news-article__banner-image img {
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center center;
  width: 100%;
}
@media (min-width: 60rem) {
  .l-news-article__banner-image img {
    aspect-ratio: 1920/715;
  }
}
.l-news-article__banner-image + .l-subpage__breadcrumbs {
  position: relative;
}
.l-news-article__breadcrumbs {
  margin-block: 1rem;
  max-width: 50rem;
  margin-inline: auto;
}
.l-news-article__title {
  font-weight: 400;
  font-family: var(--ff-secondary), sans-serif;
  font-size: 2rem;
  line-height: 1.125;
  max-width: 50rem;
  margin-block-start: 2rem;
  margin-inline: auto;
}
@media (min-width: 60rem) {
  .l-news-article__title {
    margin-block-start: 4rem;
    font-size: 3rem;
  }
}
@media (min-width: 80rem) {
  .l-news-article__title {
    font-size: 4rem;
    line-height: 1.05;
  }
}
.l-news-article__leading {
  margin-block-start: 1rem;
  font-size: 1.25rem;
  max-width: 50rem;
  margin-inline: auto;
}
@media (min-width: 60rem) {
  .l-news-article__leading {
    margin-block-start: 1.5rem;
    font-size: 1.375rem;
  }
}
@media (min-width: 80rem) {
  .l-news-article__leading {
    font-size: 1.5rem;
    line-height: 1.375;
  }
}
.l-news-article__meta {
  margin-block-start: 2rem;
  padding-block-start: 0.75rem;
  border-block-start: 1px solid var(--color-stone);
  font-size: 1rem;
  max-width: 50rem;
  margin-inline: auto;
  color: var(--color-cobalt-light);
}
.l-news-article__body {
  margin-block-start: 3rem;
  max-width: 50rem;
  font-size: 1rem;
  margin-inline: auto;
  --color-link-decoration-default: var(--color-follese);
  --color-link-text-hover: var(--color-follese);
}
@media (min-width: 60rem) {
  .l-news-article__body {
    font-size: 1.125rem;
  }
}
@media (min-width: 80rem) {
  .l-news-article__body {
    font-size: 1.25rem;
  }
}
.l-news-article__body > :where(h1, h2, h3):not([class]) {
  font-family: var(--ff-secondary), serif;
  font-weight: 400;
}
.l-news-article__body > h2:not([class]) {
  font-size: 1.5rem;
}
@media (min-width: 60rem) {
  .l-news-article__body > h2:not([class]) {
    font-size: 2rem;
    line-height: 1.25;
  }
}
@media (min-width: 80rem) {
  .l-news-article__body > h2:not([class]) {
    font-size: 2.5rem;
  }
}
.l-news-article__body > h3:not([class]) {
  font-size: 1.125rem;
}
@media (min-width: 60rem) {
  .l-news-article__body > h3:not([class]) {
    font-size: 1.5rem;
    line-height: 1.375;
  }
}
@media (min-width: 80rem) {
  .l-news-article__body > h3:not([class]) {
    font-size: 1.75rem;
  }
}

.l-subpage {
  padding-block-end: 10rem;
}
.l-subpage__banner-image {
  width: 100%;
  max-width: 120rem;
  margin-inline: auto;
  position: relative;
}
.l-subpage__banner-image:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5%;
  background: white; /* Same as your page background */
  clip-path: ellipse(60% 100% at 50% 100%);
}
.l-subpage__banner-image img {
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center center;
  width: 100%;
}
@media (min-width: 60rem) {
  .l-subpage__banner-image img {
    aspect-ratio: 1920/715;
  }
}
.l-subpage__banner-image + .l-subpage__breadcrumbs {
  position: relative;
}
.l-subpage__breadcrumbs {
  margin-block: 1rem;
  max-width: 50rem;
  margin-inline: auto;
}
.l-subpage__title {
  font-weight: 400;
  font-family: var(--ff-secondary), sans-serif;
  font-size: 2rem;
  line-height: 1.125;
  max-width: 50rem;
  margin-block-start: 2rem;
  margin-inline: auto;
}
@media (min-width: 60rem) {
  .l-subpage__title {
    margin-block-start: 4rem;
    font-size: 3rem;
  }
}
@media (min-width: 80rem) {
  .l-subpage__title {
    font-size: 4rem;
    line-height: 1.05;
  }
}
.l-subpage__leading {
  margin-block-start: 1rem;
  font-size: 1.25rem;
  max-width: 50rem;
  margin-inline: auto;
}
@media (min-width: 60rem) {
  .l-subpage__leading {
    margin-block-start: 1.5rem;
    font-size: 1.375rem;
  }
}
@media (min-width: 80rem) {
  .l-subpage__leading {
    font-size: 1.5rem;
    line-height: 1.375;
  }
}
.l-subpage__body {
  margin-block-start: 4rem;
  max-width: 50rem;
  font-size: 1rem;
  margin-inline: auto;
  --color-link-decoration-default: var(--color-follese);
  --color-link-text-hover: var(--color-follese);
}
@media (min-width: 60rem) {
  .l-subpage__body {
    font-size: 1.125rem;
  }
}
@media (min-width: 80rem) {
  .l-subpage__body {
    font-size: 1.25rem;
  }
}
.l-subpage__body > :where(h1, h2, h3):not([class]) {
  font-family: var(--ff-secondary), serif;
  font-weight: 400;
}
.l-subpage__body > h2:not([class]) {
  font-size: 1.5rem;
}
@media (min-width: 60rem) {
  .l-subpage__body > h2:not([class]) {
    font-size: 2rem;
    line-height: 1.25;
  }
}
@media (min-width: 80rem) {
  .l-subpage__body > h2:not([class]) {
    font-size: 2.5rem;
  }
}
.l-subpage__body > h3:not([class]) {
  font-size: 1.125rem;
}
@media (min-width: 60rem) {
  .l-subpage__body > h3:not([class]) {
    font-size: 1.5rem;
    line-height: 1.375;
  }
}
@media (min-width: 80rem) {
  .l-subpage__body > h3:not([class]) {
    font-size: 1.75rem;
  }
}

.l-site {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
.l-site__main {
  flex-grow: 1;
}

.u-visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.u-max-content-width {
  max-width: 80rem;
  width: calc(100% - 2rem);
  margin-inline: auto;
}
.u-max-content-width--wide {
  max-width: 100rem;
}

.u-rich-text > * + * {
  margin-block-start: 1.25em;
}
.u-rich-text > :where(h1, h2, h3, h4, h5, h6):not([class]) + * {
  margin-block-start: 0.5em;
}
.u-rich-text > * + :where(h1, h2, h3, h4, h5, h6):not([class]) {
  margin-block-start: 1.5em;
}
.u-rich-text > ul:not([class]) {
  list-style-type: disc;
}
.u-rich-text > ul:not([class]) ::marker {
  color: var(--color-follese);
}
.u-rich-text > ul:not([class]) li + li,
.u-rich-text > ul:not([class]) li > ul,
.u-rich-text > ul:not([class]) li > ol {
  margin-block-start: 0.5em;
}
.u-rich-text > ol:not([class]) {
  list-style-type: decimal;
}
.u-rich-text > ol:not([class]) ::marker {
  color: var(--color-follese);
}
.u-rich-text > ol:not([class]) li + li,
.u-rich-text > ol:not([class]) li > ul,
.u-rich-text > ol:not([class]) li > ol {
  margin-block-start: 0.5em;
}
.u-rich-text > * > a:not([class]) {
  text-decoration: underline;
  text-underline-offset: 0.25em;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--color-link-decoration-default);
}
.u-rich-text > * > a:not([class]):hover {
  color: var(--color-link-text-hover);
  text-decoration-thickness: 3px;
}
.u-rich-text strong:not([class]) {
  font-weight: 500;
}
.u-rich-text > * + .image-block {
  margin-block-start: 3em;
}
.u-rich-text > *:not(.file-block) + .file-block {
  margin-block-start: 1.5em;
}
