*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

:where(img, picture, video, canvas, svg) {
  display: block;
  max-width: 100%;
}

:where(input, button, textarea, select) {
  font: inherit;
}

:where(button) {
  color: inherit;
  border: 0;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:where(a) {
  color: inherit;
}

:where(p, h1, h2, h3, h4, h5, h6, li) {
  overflow-wrap: break-word;
}

:where(ul, ol) {
  padding-inline-start: 1.5rem;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-follese: #1960AA;
  --color-cobalt: #0D2B49;
  --color-sky: #ECF5FF;
  --color-cloud: #f5f5ff;
  --color-white: #FFFFFF;
}

@font-face {
  font-family: "Gabarito";
  src: url("../fonts/Gabarito-VariableFont_wght.ttf");
  font-weight: 400 900;
}
@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist.ttf");
  font-weight: 200 900;
}
@font-face {
  font-family: "Geist Mono";
  src: url("../fonts/GeistMono.ttf");
  font-weight: 200 900;
}
@font-face {
  font-family: "Peachi";
  src: url("../fonts/Peachi-Thin.otf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Peachi";
  src: url("../fonts/Peachi-Light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Peachi";
  src: url("../fonts/Peachi-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Peachi";
  src: url("../fonts/Peachi-Medium.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Peachi";
  src: url("../fonts/Peachi-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Peachi";
  src: url("../fonts/Peachi-Black.otf");
  font-weight: 900;
  font-style: normal;
}
:root {
  --ff-primary: "Geist";
  --ff-secondary: "Peachi";
}

html {
  background-color: var(--color-cloud);
}

body {
  font-family: var(--ff-primary), sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-cobalt);
  background-color: var(--color-white);
  min-height: 100dvh;
}

:focus-visible {
  outline-color: var(--color-follese);
  outline-offset: 2px;
  outline-width: 2px;
}

:where(h1, h2, h3, h4, h5, h6) {
  text-wrap: pretty;
}

.site-header {
  background-color: var(--color-sky);
}
.site-header__inner {
  display: flex;
  justify-content: space-between;
  column-gap: 1.5rem;
  align-items: center;
  padding-block: 2rem;
}
.site-header__logo {
  text-decoration: none;
  display: block;
}
.site-header__logo img {
  height: 6rem;
}
.site-header__nav {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}
@media (min-width: 80rem) {
  .site-header__nav {
    font-size: 1.25rem;
  }
}
.site-header__link, .site-header__dropdown {
  text-decoration: none;
}
.site-header__link:hover, .site-header__link:focus-visible, .site-header__link.is-open, .site-header__link.is-current, .site-header__dropdown:hover, .site-header__dropdown:focus-visible, .site-header__dropdown.is-open, .site-header__dropdown.is-current {
  color: var(--color-follese);
}

.hero__image {
  width: 100%;
}
.hero__image img {
  aspect-ratio: 21/9;
  max-height: 45rem;
  object-fit: cover;
  object-position: center center;
  width: 100%;
}
.hero__content {
  width: 95%;
  max-width: 45rem;
  margin-inline: auto;
  background-color: var(--color-white);
  position: relative;
  text-align: center;
  padding-block: 2rem;
  padding-inline: 2rem;
  margin-block-start: -2rem;
}
@media (min-width: 80rem) {
  .hero__content {
    max-width: 62.5rem;
    margin-block-start: -10rem;
    padding-block: 3.5rem;
    padding-inline: 5.5rem;
  }
}
.hero hgroup {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}
.hero__subtitle {
  font-weight: 600;
  color: var(--color-follese);
  line-height: 1.375;
  font-size: 1.125rem;
}
@media (min-width: 80rem) {
  .hero__subtitle {
    font-size: 1.25rem;
  }
}
.hero__title {
  font-family: var(--ff-secondary), serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.25;
}
@media (min-width: 80rem) {
  .hero__title {
    line-height: 1.05;
    font-size: 4rem;
  }
}
.hero__intro {
  margin-block-start: 1rem;
  font-size: 1.125rem;
}
@media (min-width: 80rem) {
  .hero__intro {
    margin-block-start: 1.25rem;
    font-size: 1.5rem;
  }
}

.more-link {
  display: inline-flex;
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  border-radius: 99em;
  text-decoration: none;
  color: var(--color-follese);
  background-color: var(--color-white);
  border: 2px solid var(--color-follese);
}
.more-link:hover {
  background-color: var(--color-sky);
}
@media (min-width: 80rem) {
  .more-link {
    font-size: 1.125rem;
    padding-block: 0.75rem;
    padding-inline: 1.75rem;
  }
}

.teaser {
  display: grid;
  grid-template-columns: 50% 50%;
}
.teaser__image {
  object-fit: cover;
  object-position: center center;
}
.l-frontpage__teaser {
  margin-block-start: 4rem;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}
.l-frontpage__cards {
  margin-block-start: 4rem;
}
.l-frontpage__cards-more-link {
  display: flex;
  justify-content: center;
}

.u-visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.u-max-content-width {
  max-width: 80rem;
  width: calc(100% - 2rem);
  margin-inline: auto;
}
