<div class="gallery-block">
  <div class="gallery-block__frame">
    <div class="gallery-block__window">
      <img src="" alt="" />
    </div>
    <div class="gallery-block__description">Badeplassen</div>
  </div>
</div>
