---
import TriangleDown from "./icons/TriangleDown.astro";
import Menu from "./icons/Menu.astro";
import ChevronDown from "./icons/ChevronDown.astro";
interface Props {
  nav?: { title: string; link: { href: string }; type: string; links: any }[];
}

const { nav }: Props = Astro.props;
---

<header class="site-header">
  <div class="u-max-content-width u-max-content-width--wide">
    <div class="site-header__inner">
      <a class="site-header__logo" href="/">
        <span class="u-visually-hidden">Gå til forside</span>
        <img src="/images/logo_bla.png" alt="" />
      </a>
      <nav class="site-header__nav">
        <ul class="site-header__nav-list">
          {
            nav?.map((item) => (
              <li class="site-header__nav-item">
                <div class="site-header__nav-item-inner">
                  <a
                    href={item.link ? item.link.href : "#"}
                    class="site-header__link"
                  >
                    <span>{item.title}</span>
                  </a>
                  {item.type === "dropdown" && (
                    <span class="site-header__dropdown-icon">
                      <ChevronDown />
                    </span>
                  )}
                </div>
                {item.type === "dropdown" && (
                  <ul class="site-header__dropdown">
                    {item.links.map((subItem: any) => (
                      <li>
                        <a href={subItem.link?.href}>{subItem.title}</a>
                      </li>
                    ))}
                  </ul>
                )}
              </li>
            ))
          }
        </ul>
      </nav>
      <button class="site-header__menu-toggle" id="menuToggle">
        <Menu />
        <span>Meny</span>
      </button>
    </div>
  </div>
</header>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const mobileNav = document.getElementById("mobileNav");
    const menuToggle = document.getElementById("menuToggle");
    const menuClose = document.getElementById("menuClose");

    if (menuToggle && mobileNav) {
      menuToggle.addEventListener("click", () => {
        mobileNav.showModal();
        document.documentElement.style.overflowY = "hidden";
      });
    }

    if (menuClose && mobileNav) {
      menuClose.addEventListener("click", () => {
        mobileNav.close();
      });
    }

    if (mobileNav) {
      mobileNav.addEventListener("close", () => {
        document.documentElement.style.overflowY = "initial";
      })
    }
  });
</script>
