---
interface Props {
  nav?: { href: string; label: string }[];
}

const { nav } = Astro.props;
---

<header class="site-header">
  <div class="u-max-content-width">
    <div class="site-header__inner">
      <a class="site-header__logo" href="/">
        <span class="u-visually-hidden">Gå til forside</span>
        <img src="/images/logo_bla.png" alt="" />
      </a>
      <nav class="site-header__nav">
        {
          nav?.map((item) => (
            <a href={item.href} class="site-header__link">
              {item.label}
            </a>
          ))
        }
      </nav>
      <button class="site-header__menu-toggle">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" fill="currentColor"><path d="M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z"></path></svg>
        <span>Meny</span>
      </button>
    </div>
  </div>
</header>
