---
import RichText from "./portableText/RichText.astro";
import Facebook from "./icons/Facebook.astro";
import Instagram from "./icons/Instagram.astro";
interface Props {
  groups: { title: string; text: any[] }[];
  socialMedia?: any;
}

const { groups, socialMedia }: Props = Astro.props;
---

<footer class="site-footer">
  <div class="u-max-content-width u-max-content-width--wide">
    <div class="site-footer__inner">
      <a href="/" class="site-footer__logo">
        <img src="/images/logo_hvit.png" alt="" />
      </a>
      <div class="site-footer__content">
        {
          groups?.map((group) => (
            <div class="site-footer__group">
              <h3 class="site-footer__group-title">{group.title}</h3>
              {group.text && (
                <div class="site-footer__group-content | u-rich-text">
                  <RichText content={group.text} />
                </div>
              )}
            </div>
          ))
        }
      </div>
      <div class="site-footer__some">
        {
          socialMedia?.map((socialLink: any) => (
            <a href={socialLink.href} target="_blank" rel="noopener noreferrer" class="site-footer__some-link">
              {socialLink.icon === "fb" && <Facebook />}
              {socialLink.icon === "instagram" && <Instagram />}
              <span>{socialLink.title}</span>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</footer>
